<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chq.app.web.system.mapper.JobInfoMapper">


    <select id="getList" resultType="com.chq.app.web.system.pojo.JobInfo">
        select
        id, job_name, job_desc, job_type, job_next_time, job_rate, job_cron, trigger_status, trigger_last_time, remark, create_time, update_time, create_by, update_by, next_time
        from job_info
        where 1=1
        <if test="id!= null">
            and id = #{id}
        </if>
        <if test="jobName != null">
            and job_name like concat('%',#{jobName},'%')
        </if>
        <if test="jobDesc != null">
            and job_desc like concat('%',#{jobDesc},'%')
        </if>
        <if test="triggerStatus != null">
            and trigger_status = #{triggerStatus}
        </if>
    </select>
</mapper>
