<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chq.app.web.system.mapper.OperationLogMapper">

    <sql id="base_column">
       id,
       title,
       business_type,
       method,
       request_method,
       operator_type,
       operation_name,
       operation_param,
       json_result,
       status,
       error_msg,
       operation_time,
       cost_time
    </sql>


    <select id="getOperationLogList" resultType="com.chq.app.web.system.pojo.OperationLog" parameterType="com.chq.app.web.system.pojo.OperationLog">
        select
        <include refid="base_column"/>
        from operation_log
        where 1=1
        <if test="id != null">
            and id = #{id}
        </if>
        <if test="title != null and title != '' ">
            and title like concat('%',#{title}, '%')
        </if>
        <if test="businessType != null">
            and business_type = #{businessType}
        </if>
        <if test="method != null and method != '' ">
            and method like concat('%',#{method}, '%')
        </if>
        <if test="requestMethod != null and requestMethod != '' ">
            and request_method like concat('%',#{requestMethod}, '%')
        </if>
        <if test="operatorType != null">
            and operator_type = #{operatorType}
        </if>
        <if test="operationName != null and operationName != '' ">
            and operation_name like concat('%',#{operationName}, '%')
        </if>
        <if test="operationParam != null and operationParam != '' ">
            and operation_param like concat('%',#{operationParam}, '%')
        </if>
        <if test="jsonResult != null and jsonResult != '' ">
            and json_result like concat('%',#{jsonResult}, '%')
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="errorMsg != null and errorMsg != '' ">
            and error_msg like concat('%',#{errorMsg}, '%')
        </if>
        <if test="operationTime != null">
            and operation_time = #{operationTime}
        </if>
        <if test="costTime != null">
            and cost_time = #{costTime}
        </if>
    </select>

    <select id="getOperationLogById" resultType="com.chq.app.web.system.pojo.OperationLog" >
        select
        <include refid="base_column"/>
        from operation_log
        where id = #{id}
    </select>
</mapper>
