//引入清除默认样式
@import './reset.scss';

//滚动条外观设置
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: $base-menu-background;
}

::-webkit-scrollbar-thumb{
    width: 3px;
    background-color: yellowgreen;
    border-radius: 10px;
}

.input-height {
    height: 40px;
}

.input-width {
    width: 250px;
}
.operation-box {
    margin: 20px 0;
}
.content-box {
    padding: 15px;
}
.search-box {
    margin-top: 20px;
}
.pagination-box {
    margin-top: 20px;
}
