<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chq.app.mapper.JobLogMapper">


    <select id="getList" resultType="com.chq.app.pojo.JobLog">
        select
        jl.id, jl.job_id, jl.trigger_time, jl.handle_time, jl.handle_status, jl.error_msg, jl.trigger_msg,
        ji.job_name
        from job_log as jl join job_info as ji on jl.job_id=ji.id
        where 1=1
        <if test="jobId!=null">
            and jl.id=#{id}
        </if>
        <if test="jobName!=null">
            and ji.job_name = #{jobName}
        </if>
        <if test="jobId!=null">
            and jl.job_id = #{jobId}
        </if>
        <if test="handleStatus!=null">

            and jl.handle_status = #{handleStatus}
        </if>
        <if test="handleTime!=null">
            and jl.handle_time >= #{handleTime}
        </if>
        <if test="startTime!=null and endTime!=null and startTime!='' and endTime!=''">
            and jl.trigger_time between str_to_date(#{startTime},'%Y-%m-%d %H:%i:%s') and
            str_to_date(#{endTime},'%Y-%m-%d %H:%i:%s')
        </if>

    </select>
</mapper>
