<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chq.app.mapper.MenuMapper">


    <update id="updateMenuAdaptSort" >
        update menu
        set sort=sort + 1
        where id != #{id}
          and parent_id = #{parentId}
          and sort >= #{sort}
    </update>


    <select id="getMenuList" resultType="com.chq.app.pojo.Menu" parameterType="com.chq.app.pojo.Menu">
        select
        m.id, m.name, m.parent_id, m.component, m.url, m.sort, m.title, m.level, m.type, m.icon, m.status, m.redirect,m.link,
        m.create_by, m.create_time, m.update_by, m.update_time
        from menu as m
        left join role_menu as rm on m.id = rm.menu_id
        where 1=1
        <if test="id != null">
            and m.id = #{id}
        </if>
        <if test="name != null">
            and m.name like concat(#{name},'%')
        </if>
        <if test="roleId!=null">
            and rm.role_id = #{roleId}
        </if>
        <if test="status!=null">
            and m.status = #{status}
        </if>
        ${params.dataScope}
        group by m.id order by m.level ,m.sort
    </select>
    <select id="getInitMenu" resultType="com.chq.app.pojo.Menu" parameterType="com.chq.app.pojo.Menu">
            select
            m.id, m.name, m.parent_id, m.component, m.url, m.sort, m.title, m.level, m.type, m.icon, m.status, m.redirect,m.link,
            m.create_by, m.create_time, m.update_by, m.update_time
            from menu as m
            left join  role_menu as rm on m.id = rm.menu_id
            where 1=1
            ${params.dataScope}
            group by m.id order by m.level,m.sort
    </select>
    <select id="selectMaxSortBySameParentId" resultType="java.lang.Integer">
            select ifnull(max(sort),1) from menu where parent_id = #{parentId}
    </select>


</mapper>
