<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chq.app.mapper.UserMapper">


    <select id="getRoleIdsByUserId" resultType="com.chq.app.pojo.Role" parameterType="java.lang.Long">
        select r.id, r.name, r.create_by, r.create_time, r.update_by, r.update_time
        from role as r
                 join user_role as ur on r.id = ur.role_id and ur.user_id = #{userId}

    </select>


    <select id="getPermissionsByRoleIds" resultType="java.lang.String" parameterType="java.util.Set">
        select p.code from permission as p
        join role_permission as rp on p.id = rp.permission_id
        and rp.role_id in
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </select>

    <select id="getUserList" resultType="com.chq.app.pojo.User" parameterType="com.chq.app.pojo.User">
        select
        u.id, u.username, u.phone, u.gender, u.avatar, u.status, u.email,u.nick_name,
        u.create_by, u.create_time, u.update_by, u.update_time
        from user as u
        left join user_role as ur on u.id = ur.user_id
        where 1=1
        <if test="id!=null">
            and u.id = #{id}
        </if>
        <if test="status != null">
            and u.status = #{status}
        </if>
        <if test="roleId!=null">
            and ur.role_id = #{roleId}
        </if>
        ${params.dataScope}
        group by u.id
    </select>


</mapper>
